[project]
	description = play github.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Junren Deng (jrdeng)
[access "refs/for/refs/*"]
	read = group user/Junren Deng (jrdeng)
	push = group user/Junren Deng (jrdeng)
	label-Code-Review = -2..+2 group user/Junren Deng (jrdeng)
	label-Verified = -1..+1 group user/Junren Deng (jrdeng)
	rebase = group user/Junren Deng (jrdeng)
	removeReviewer = group user/Junren Deng (jrdeng)
	submit = group user/Junren Deng (jrdeng)
[access "refs/heads/*"]
	read = group user/Junren Deng (jrdeng)
	create = group user/Junren Deng (jrdeng)
	push = +force group user/Junren Deng (jrdeng)
	pushMerge = group user/Junren Deng (jrdeng)
[access "refs/tags/*"]
	push = +force group user/Junren Deng (jrdeng)
	pushTag = group user/Junren Deng (jrdeng)
	pushSignedTag = group user/Junren Deng (jrdeng)
